.bash_history
.bash_logout
.cache/
.config/
.gnupg/
.joinnow/
.lesshst
.local/
.pki/
.ssh/
.sudo_as_admin_successful
Desktop/
Documents/
Downloads/
Pictures/
snap/
git/
.cargo/
.rustup/
.dotnet/
.vscode/extensions/
.steam/
.steampath
.steampid
.python_history
.minecraft/
.npm/
.vscode/
